.wrapper {
  display: flex;
  max-width: 100%;
  gap: 10px;
  & > aside {
    flex-basis: 300px;
    flex-grow: 0;
  }

  & > main {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 1320px) {
  .wrapper {
    max-width: 85%;
    margin: auto;
    & > aside {
      display: none;
    }
  }
}
@media only screen and (max-width: 750px) {
  .wrapper {
    margin: 0;
    & > aside {
      display: none;
    }
  }
}
